auto-save-list
backup
el-get
elpa
emacs-init.el
recentf
savehist
saveplace
vendor
/abbrev_defs
/bookmarks
/recentf~
ac-comphist.dat
backups/*
elpa/*
emacs-init.el
helm-doc.org
index.html
projectile-bookmarks.eld
recentf/*
recentf~
vendor/*
