auto-save-list
backup
el-get
elpa
emacs-init.el
recentf
savehist
saveplace
vendor
/abbrev_defs
/bookmarks
/recentf~
ac-comphist.dat
backups/*
elpa/*
emacs-init.el
helm-doc.org
index.html
projectile-bookmarks.eld
recentf/*
recentf~
vendor/*
/notes
/places
/.persistent-scratch
/.org-id-locations
/ido.last
/smex-items
/#emacs-init.el#
/emacs-init.aux
/emacs-init.log
/emacs-init.out
/emacs-init.pdf
/emacs-init.tex
/emacs-init.toc
semanticdb/
/.signature
/dict/ada-mode
/dict/c-mode
/url/cookies
/dict/go-mode
/dict/js-mode
/%backup%~
/.cache/ido.last
/.python-environments/default/.Python
/.python-environments/default/bin/activate
/.python-environments/default/bin/pip
/.python-environments/default/bin/activate.csh
/.python-environments/default/bin/pip2
/.python-environments/default/bin/activate_this.py
/.python-environments/default/lib/python2.7/site-packages/epc/tests/test_dispatcher.pyc
/dict/sh-mode
