auto-save-list
backup
el-get
elpa
emacs-init.el
recentf
savehist
saveplace
vendor
/abbrev_defs
/bookmarks
/recentf~
ac-comphist.dat
backups/*
elpa/*
emacs-init.el
helm-doc.org
index.html
projectile-bookmarks.eld
recentf/*
recentf~
vendor/*
/notes
/places
/.persistent-scratch
/.org-id-locations
/ido.last
/smex-items
/#emacs-init.el#
/emacs-init.aux
/emacs-init.log
/emacs-init.out
/emacs-init.pdf
/emacs-init.tex
/emacs-init.toc
semanticdb/
/.signature
/url/cookies
/dict/js-mode
/%backup%~
/.cache/*
/.python-environments/*
/dict/*
/eshell/history
